@import url('https://fonts.cdnfonts.com/css/bentham');
@import url('https://fonts.cdnfonts.com/css/jetbrains-mono');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1.1rem 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(52, 78, 65, .6);
    z-index: 1000;
}

section {
    padding: 1.3rem 2%;
}

header .navbar a{
    font-size: 1.3rem;
    font-family: 'Bentham', sans-serif;
    color: #FFFF;
    padding: 0 2rem;
}

header .navbar #luccode{
    font-size: 1.5rem;
    font-family: 'JetBrains Mono', sans-serif;
    color: #FFFF;
    padding: 0 1rem;
}

.main {
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-color: #588157;
    background-size: cover;
    background-position: center;
}

.content-main {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.content-itens {
    padding-left: 13rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.content-itens h1 span {
    font-size: 4.8rem;
    font-family: 'Bentham', sans-serif;
    color: #FFFF;
    letter-spacing: 0.15rem;
}

.content-itens h2 {
    font-size: 2.9rem;
    font-family: 'Bentham', sans-serif;
    color: #FFFF;
    letter-spacing: 0.15rem;
}

.content-itens span {
    font-size: 2.5rem;
    font-family: 'Bentham', sans-serif;
    color: #344E41;
    letter-spacing: 0.1rem;
}

.content-main #leafeon-img {
    padding-top: 5rem;
    padding-right: 5rem;
}

.btn-main {
    display: flex;
    flex-direction: row;
}

#btn-info {
    min-width: 10rem;
    min-height: 3.2rem;
    margin-top: 10px;
    margin-right: 16px;
    background-color: rgba(52, 78, 65, .45);
    border-radius: 12px;
    font-family: 'Bentham', sans-serif;
    font-size: 1.3rem;
    color: #FFFF;
}

#btn-info2 {
    min-width: 10rem;
    min-height: 3.2rem;
    margin-top: 10px;
    background-color: rgba(218, 215, 205, .45);
    border-radius: 12px;
    font-family: 'Bentham', sans-serif;
    font-size: 1.3rem;
    color: #FFFF;
}